# Ignorar entorno virtual
env/

# Archivos compilados de Python
*.pyc
__pycache__/

# Archivos de configuración del entorno
.env

# Archivos de configuración de VSCode
.vscode/
# env\Scripts\activate

